.login-container {
  width: 400px;
  margin-top: 200px;
  text-align: center; 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;; 
}

.g {
  color: #4285F4;
}

.o {
  color: #DB4437;
}

.oo {
  color: #F4B400;
}

.l {
  color: #0F9D58;
}

.e {
  color: #DB4437;
}
